element.style {
}
* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}
html[Attributes Style] {
    -webkit-locale: "pt-br";
}
folha de estilos de agente de usuário
:root {
    view-transition-name: root;
}
folha de estilos de agente de usuário
html {
    display: block;
}