element.style{
}
.cabecalho-itens {
    max-width: 1980px;
    margin: 0 auto;
    display: flex
;
    align-items: center;
    justify-content: center;
}
header {
    background-color: #424e61;
    color: white;
    width: 100%;
    padding: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
folha de estilos de agente de usuário
header {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: "Poppins", sans-serif;
}
